.projectcard {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.innercard {
    transition: filter 300ms;
    background-color: #1e1e2e;
    border: 1px solid #cdd6f4;
    width: 80%;
    min-height: 80vh;
    height: auto;
    margin: 10vw;
}

.imgdiv {
    border: 1px solid #ffffff;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 5%;
}

.textdiv {
    font-size: 70%;
    margin: 7em; 
    margin-top: -2.5em; 
}

.innercard:hover {
    filter: drop-shadow(0 0 2em #cba6f7aa);
}
